@model Niall_Firmstep.Models.QueueItem

@{
    ViewBag.Title = "CreateOrganisation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Organisation</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>QueueItem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
     
                            @Html.LabelFor(model => model.service, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EnumDropDownListFor(model => model.service, // Model field that will be used to store user selection
                              new { @class = "form-control" })


                        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, "Organisation",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        
        

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
